!!! 5
-@ val body: String
html(lang="ja")
  head
    title e-NDEX - とある電子の書籍検索
    meta{:name => "keywords", :content => "電子書籍検索,電子書籍,eBook,e-book.電子ブック,電子Book,横断検索"}
    meta{:name => "description", :content => "電子書籍(電子ブック)の横断検索サービスです。複数の電子書籍サイトをまとめて検索します！"}
  body
    img{:src => "http://27.media.tumblr.com/tumblr_m0b2raeMaQ1qzohe1o1_400.png"}
    h1 e-NDEX - とある電子の書籍検索
    !~~ body
