@text-color: #666;
@boder-color:#E7E4E4;

body {
  color:@text-color;
} 

h1 { }

#main {
  input[type="text"] {
    border: 1px solid @text-color;
    width:700px; 
  }
  input[type="submit"] {
    border: 1px solid @text-color;
  } 
}

#result {
  width: 750px;
  header {
    margin-top:20px;
    color: #666;
    span {
      margin-left:10px;
    }
  }

  footer {
    clear:left;
    padding-top:20px;
    color: #666;
    span {
      margin-left:10px;
    }
  }

  ul {
    li {
      list-style: none;
      float: left;
      margin: 5px;
      padding: 0px;
      width: 150px;
      height:310px;
      font-size: 12px;

      display: inline-block;
      border: 1px solid @boder-color;
      vertical-align: top;
      text-align: center;

      img {
        width:123px;
        height:172px;
      }

      h3 {  }

      p { 
        display: block; 
        margin: 5px;
      }
    }
  }
}

#feeds {
  width: 750px;
  header {
    margin-top:20px;
    color: #666;
    span {
      margin-left:10px;
    }
  }

  footer {
    clear:left;
    padding-top:20px;
    color: #666;
    span {
      margin-left:10px;
    }
  }

  .feed {
    clear:left;
  }
  ul {
    li {
      list-style: none;
      float: left;
      margin: 5px;
      padding: 0px;
      width: 150px;
      height:250px;
      font-size: 12px;

      display: inline-block;
      border: 1px solid @boder-color;
      vertical-align: top;
      text-align: center;

      img {
        width:123px;
        height:172px;
      }

      h3 {  }

      p { 
        display: block; 
        margin: 5px;
      }
    }
  }
}
