p
  | eBook Search へ　ようこそ.
  br/
  | このサイトでは電子書籍の横断検索ができます.
form#search{:action => "/search", :method => "post"}
  input#q{:type => "text", :name => "q"} 
  input{:type =>"submit", :value => "search"}

