-@ val items: List[cn.orz.pascal.scala.ebooksearch.searcher.Item]

form#search{:action => "/search", :method => "post"}
  input#q{:type => "text", :name => "q"} 
  input{:type =>"submit", :value => "search"}
ul#resultt
  li
    a(href="a")
      | Title:AAA
